<div class="container">
    <h1>Welcome to Routine making page</h1>

    <div class="row">
        <div class="col-md-8">

            <form #routine=ngForm>
                <!-- <p>{{ routine.value|json}}</p> -->
        
                <div class="form-group">
                    <label for="class">Class</label>
                    <select class="form-control" id="class"  name="class" ngModel>
                        <option *ngFor="let class of classes" [value]="class">{{class}}</option>
                    </select>
                </div>
        
                <button type="submit" class="btn btn-primary" (click)="add(routine.value)">Add</button> 
            </form>
        </div>

        <div class="col-md-4">
            <p>There are total {{totalClass}} class in a Day</p>
            <p>{{totalClass - loadClass.length}} class remain to add</p>
            <ul>
                <li *ngFor="let list of teacherList">{{list.name}} is busy in
                    <ol>
                        <!-- <ol>{{list.totalAssign|json}}</ol> -->
                        <div *ngFor="let item of list.totalAssign">
                            <ul>
                                <li> class {{item.class}} at {{item.time}}</li>
                            </ul>
                        </div>
                    </ol>
                </li>
                
            </ul>
            <!-- <p>{{loadClass|json}}</p> -->
        </div>
    </div>
    
    
</div>